

<div class='footer'>
  <div class='footer-contents'>
    
    <div class='furima-details'>
      <h2 class='footer-content-head'>一覧を見る</h2>
      <ul>
        <li><%= link_to 'aaaaa一覧', "#", class: "footer-link" %></li>
        <li><%= link_to 'bbbbb一覧', meetings_path, class: "footer-link" %></li>
      </ul>
    </div>
    
  </div>
  <%= link_to image_tag("3.png", class:"logo-white"), "#" %>
  <p>MovieDiaryApp</p>
</div>